<div class="py-4 px-6 border min-h-[380px] rounded flex items-center flex-col mb-2 transform hover:scale-99 transition-transform duration-[300ms] ease-in-out shadow-[2px_2px_7px_#888]">
    <img [src]="product.image" [alt]="product.title" class="w-1/2 min-h-48 max-h-48 object-contain mb-2" loading="lazy">

    <div class="mb-2 text-md text-center flex flex-col">
        <h2 class="mb-2">{{ product.title }}</h2>
        <p class="mt-auto">Price: <span class="font-bold">{{ product.price | currency }}</span></p>
    </div>

    <div class="flex flex-col flex-grow">
        <button class="border py-2 px-4 rounded cursor-pointer font-bold mt-auto" [ngClass]="{
            'bg-yellow-400': !details,
            'bg-blue-400': details
          }" (click)="details = !details">
            {{ details ? 'Hide' : 'Show' }} Details
        </button>
    </div>

    <div *ngIf="details">
        <p>{{ product.description }}</p>
        <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}">
                {{ product.rating.rate | number:'1.1-1' }}
            </span></p>
    </div>
</div>
